[submodule "dsh-plugin-deepseek-usage"]
	path = dsh-plugin-deepseek-usage
	url = ../dsh-plugin-deepseek-usage.git
[submodule "dsh-plugin-speaker"]
	path = dsh-plugin-speaker
	url = ../dsh-plugin-speaker.git
[submodule "dsh-plugin-voice-input"]
	path = dsh-plugin-voice-input
	url = ../dsh-plugin-voice-input.git

[submodule "dsh-plugin-context-overview"]
	path = dsh-plugin-context-overview
	url = ../dsh-plugin-context-overview.git
[submodule "dsh-plugin-chat-display"]
	path = dsh-plugin-chat-display
	url = ../dsh-plugin-chat-display.git
[submodule "dsh-plugin-context-view"]
	path = dsh-plugin-context-view
	url = ../dsh-plugin-context-view.git
[submodule "dsh-plugin-manager"]
	path = dsh-plugin-manager
	url = ../dsh-plugin-manager.git
